<!-- Thanh bên quản trị -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"> 
                    <span>Tổng quan</span>
                </li>
                <li {% if request.path == '/admin/' %}class="active"{% endif %}> 
                    <a href="{% url 'admin-dashboard' %}"><i class="fe fe-home"></i> <span>Bảng điều khiển</span></a>
                </li>
                <li {% if request.path == '/admin/appointments/' %}class="active"{% endif %}> 
                    <a href="{% url 'admin-appointments' %}"><i class="fe fe-layout"></i> <span>Lịch hẹn</span></a>
                </li>
                <li {% if request.path == '/admin/specialities/' %}class="active"{% endif %}> 
                    <a href="{% url 'admin-specialities' %}"><i class="fe fe-users"></i> <span>Chuyên khoa</span></a>
                </li>
                <li {% if request.path == '/admin/doctors/' %}class="active"{% endif %}> 
                    <a href="{% url 'admin-doctors' %}"><i class="fe fe-user-plus"></i> <span>Bác sĩ</span></a>
                </li>
                <li {% if request.path == '/admin/patients/' %}class="active"{% endif %}> 
                    <a href="{% url 'admin-patients' %}"><i class="fe fe-user"></i> <span>Bệnh nhân</span></a>
                </li>
                <li {% if request.path == '/admin/prescriptions/' %}class="active"{% endif %}> 
                    <a href="{% url 'admin-prescriptions' %}"><i class="fe fe-file"></i> <span>Đơn thuốc</span></a>
                </li>
                <li {% if request.path == '/admin/reviews/' %}class="active"{% endif %}> 
                    <a href="{% url 'admin-reviews' %}"><i class="fe fe-star-o"></i> <span>Đánh giá</span></a>
                </li>
                <li> 
                    <a href=""><i class="fe fe-activity"></i> <span>Giao dịch</span></a>
                </li>

                <li class="menu-title"> 
                    <span>Phòng khám 4.0</span>
                </li>
                <li {% if request.resolver_match.url_name == 'tiep-nhan' %}class="active"{% endif %}> 
                    <a href="{% url 'clinic:tiep-nhan' %}"><i class="fe fe-log-in"></i> <span>Tiếp nhận</span></a>
                </li>
                <li {% if request.resolver_match.url_name == 'benh-nhan' %}class="active"{% endif %}> 
                    <a href="{% url 'clinic:benh-nhan' %}"><i class="fe fe-heart"></i> <span>Bệnh nhân</span></a>
                </li>
                <li {% if request.resolver_match.url_name == 'hoa-don' %}class="active"{% endif %}> 
                    <a href="{% url 'clinic:hoa-don' %}"><i class="fe fe-credit-card"></i> <span>Hóa đơn</span></a>
                </li>

                <li class="menu-title"> 
                    <span>Báo cáo</span>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-document"></i> <span> Báo cáo</span> <span class="menu-arrow"></span></a>
                    <ul style="display: none;">
                        <li {% if request.path == '/admin/reports/appointments/' %}class="active"{% endif %}><a href="{% url 'admin-appointment-report' %}">Báo cáo lịch hẹn</a></li>
                        <li {% if request.path == '/admin/reports/revenue/' %}class="active"{% endif %}><a href="{% url 'admin-revenue-report' %}">Báo cáo doanh thu</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /Thanh bên quản trị -->