{% extends "dashboard/base.html" %}

{% block title %}Bảng điều khiển{% endblock %}
{% load currency_filters %}

{% block content %}
<!-- Tiêu đề trang -->
<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="page-title">Bảng điều khiển</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item active">Bảng điều khiển</li>
            </ul>
        </div>
    </div>
</div>
<!-- /Tiêu đề trang -->
<div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon text-primary border-primary">
                        <i class="fe fe-users"></i>
                    </span>
                    <div class="dash-count">
                        <h3>{{ doctors_count }}</h3>
                    </div>
                </div>
                <div class="dash-widget-info">
                    <h6 class="text-muted">Bác sĩ</h6>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-primary w-50"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon text-success">
                        <i class="fe fe-credit-card"></i>
                    </span>
                    <div class="dash-count">
                        <h3>{{ patients_count }}</h3>
                    </div>
                </div>
                <div class="dash-widget-info">
                    <h6 class="text-muted">Bệnh nhân</h6>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-success w-50"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon text-danger border-danger">
                        <i class="fe fe-money"></i>
                    </span>
                    <div class="dash-count">
                        <h3>{{ appointments_count }}</h3>
                    </div>
                </div>
                <div class="dash-widget-info">
                    <h6 class="text-muted">Lượt khám</h6>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-danger w-50"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
        <div class="card">
            <div class="card-body">
                <div class="dash-widget-header">
                    <span class="dash-widget-icon text-warning border-warning">
                        <i class="fe fe-folder"></i>
                    </span>
                    <div class="dash-count">
                        <h3>{{ total_revenue|vnd }}</h3>
                    </div>
                </div>
                <div class="dash-widget-info">
                    <h6 class="text-muted">Doanh thu</h6>
                    <div class="progress progress-sm">
                        <div class="progress-bar bg-warning w-50"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-lg-6">
    
        <!-- Biểu đồ doanh số -->
        <div class="card card-chart">
                <div class="card-header">
                <h4 class="card-title">Doanh thu</h4>
            </div>
            <div class="card-body">
                <div id="morrisArea"></div>
            </div>
        </div>
        <!-- /Biểu đồ doanh số -->
        
    </div>
    <div class="col-md-12 col-lg-6">
    
        <!-- Biểu đồ hóa đơn -->
        <div class="card card-chart">
                <div class="card-header">
                <h4 class="card-title">Trạng thái</h4>
            </div>
            <div class="card-body">
                <div id="morrisLine"></div>
            </div>
        </div>
        <!-- /Biểu đồ hóa đơn -->
        
    </div>	
</div>
<div class="row">
    <div class="col-md-6 d-flex">
    
        <!-- Danh sách gần đây -->
        <div class="card card-table flex-fill">
            <div class="card-header">
                <h4 class="card-title">Danh sách bác sĩ</h4>
                <a href="{% url 'admin-doctors' %}" class="btn btn-primary">Xem tất cả</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>Tên bác sĩ</th>
                                <th>Chuyên khoa</th>
                                <th>Đã kiếm</th>
                                <th>Đánh giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for doctor in recent_doctors %}
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="#" class="avatar avatar-sm mr-2">
                                            <img class="avatar-img rounded-circle" src="{{ doctor.profile.image }}" alt="Ảnh người dùng">
                                        </a>
                                        <a href="#">Bác sĩ {{ doctor.get_full_name }}</a>
                                    </h2>
                                </td>
                                <td>{{ doctor.profile.specialization }}</td>
                                <td>{{ doctor.earned|vnd }}</td>
                                <td>
                                    <i class="fe fe-star text-warning"></i>
                                    <span>({{ doctor.reviews_count }})</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Recent Orders -->
        
    </div>
    <div class="col-md-6 d-flex">
    
        <!-- Hoạt động gần đây -->
        <div class="card  card-table flex-fill">
            <div class="card-header">
                <h4 class="card-title">Danh sách bệnh nhân</h4>
                <a href="{% url 'admin-patients' %}" class="btn btn-primary">Xem tất cả</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                            <tr>													
                                <th>Tên bệnh nhân</th>
                                <th>Điện thoại</th>
                                <th>Lần khám cuối</th>
                                <th>Đã thanh toán</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient in recent_patients %}
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="#" class="avatar avatar-sm mr-2">
                                            <img class="avatar-img rounded-circle" src="{{ patient.profile.image }}" alt="Ảnh người dùng">
                                        </a>
                                        <a href="#">{{ patient.get_full_name }}</a>
                                    </h2>
                                </td>
                                <td>{{ patient.profile.phone|default:"Chưa xác định" }}</td>
                                <td>{{ patient.last_visit|date_vn|default:"Chưa có" }}</td>
                                <td class="text-right">{{ patient.total_paid|vnd }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Feed Activity -->
        
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    
        <!-- Danh sách gần đây -->
        <div class="card card-table">
            <div class="card-header">
                <h4 class="card-title">Danh sách lịch khám</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover table-center mb-0">
                        <thead>
                            <tr>
                                <th>Tên bác sĩ</th>
                                <th>Chuyên khoa</th>
                                <th>Tên bệnh nhân</th>
                                <th>Thời gian khám</th>
                                <th>Trạng thái</th>
                                <th class="text-right">Số tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for appointment in recent_appointments %}
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="#" class="avatar avatar-sm mr-2">
                                            <img class="avatar-img rounded-circle" src="{{ appointment.doctor.profile.image }}" alt="Ảnh bác sĩ">
                                        </a>
                                        <a href="#">Bác sĩ {{ appointment.doctor.get_full_name }}</a>
                                    </h2>
                                </td>
                                <td>{{ appointment.doctor.profile.specialization }}</td>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="#" class="avatar avatar-sm mr-2">
                                            <img class="avatar-img rounded-circle" src="{{ appointment.patient.profile.image }}" alt="Ảnh bệnh nhân">
                                        </a>
                                        <a href="#">{{ appointment.patient.get_full_name }}</a>
                                    </h2>
                                </td>
                                <td>
                                    {{ appointment.appointment_date|date_vn }}
                                    <span class="text-primary d-block">{{ appointment.appointment_time|time:"h:i A" }}</span>
                                </td>
                                <td>
                                    <span class="badge badge-pill bg-{{ appointment.status }}-light">
                                        {{ appointment.status|status_label }}
                                    </span>
                                </td>
                                <td class="text-right">
                                    {{ appointment.doctor.profile.price_per_consultation|vnd }}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Recent Orders -->
        
    </div>
</div>

{% endblock %}